<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Download Links</title>
  </head>
  <body>
    {% extends "basicapp/template.html"%}

      {% block body_block %}
      <table id="tablem">
  <tr>
    <th>Customer /  Bank Documents</th>
    <th>Mandatory / Optional</th>
    <th>Signature Requirement</th>
    <th>Download Links</th>
  </tr>

  <tr>
	<th colspan="4" style="text-align:center">Current Account/ Time Deposit/ HYDD Forms</th>
  </tr>

  <tr>
    <td>Application for Opening Current Account/ Time Deposit / High Yield Demand Deposit Account for Corporate / Non-Individual Customer <br> <br> Entity Tax Residency Self-Certification Form </td>
    <td>Mandatory</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\Current Account (Corporate)\Current Account Application Forms (Corporate)\Application for Opening Current Account, Time Deposit & HYDD_Entity Self Cert Form (WEF1.4.19)(FINAL-ePDF).pdf" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Application for Opening Current Account Form / Entity Tax Residency Self-Certification Form</a></td>

  </tr>

  <tr>
    <td>General Terms & Conditions relating to Current Accounts</td>
    <td>Mandatory</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\Current Account (Corporate)\Current Account Application Forms (Corporate)\General Terms and Conditions relating to Current and Other Accounts for Corporate Customers.pdf" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">General Terms and Conditions relating to Current and Other Accounts for Corporate Customers</a></td>
  </tr>

  <tr>
    <td>Mizuho Bank Data Protection Policy</td>
    <td>Mandatory</td>
    <td>Not Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\Current Account (Corporate)\Current Account Application Forms (Corporate)\Appendix - Bank's Data Protection Policy (WEF 8 Sep 2017)[Final].pdf" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Mizuho Bank Data Protection Policy</a></td>
  </tr>

  <tr>
    <td>Telephone, Fax and Email Indemnity Letter</td>
    <td>Mandatory</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\Telephone Fax Email Indemnity\Telephone and Fax Indemnity (WEF 8 Dec 2017)_with telephone callback.doc" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Telephone, Fax and Email Indemnity Letter</a></td>
  </tr>

  <tr>
    <td>Electronic Bank Statements Delivery ("eAST") - electronic notification service which we highly recommend our clients' to sign up for and is provided at no charge</td>
    <td>Where Applicable</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\eAST\Amendment of eAST Instructions - UPDATED 28.01.16\Amendment of eAST Instructions (Revised).pdf" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Electronic Bank Statements Delivery ("eAST")</a>
	<br>
	<br>
        <a href="\\Fs04\branch\LBA_Legal\eAST\eAST Terms and Conditions - UPDATED 28.01.16\Terms and Conditions Relating to Electronic Bank Statements Delivery (28.01.16) [Final].pdf" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Terms and Conditions Relating to eAST</a></td>

  </tr>

  <tr>
    <td>Tax Questionaire & Declaration</td>
    <td>Mandatory</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\AMLD\Neat Portal\CDD\Forms and Questionnaires\Questionnaires\Chapter 2._Appendix Y - Tax Questionnaire(Customer Version)( 9 June 16)(AML-F022-02).pdf" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Tax Questionaire & Declaration</a></td>
  </tr>

  <tr>
    <td>Customer Sanctions Declaration</td>
    <td>Where Applicable</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\AMLD\Neat Portal\CDD\Forms and Questionnaires\Questionnaires\Template - Sanction Declaration (AMLD-F029-02).doc" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Sanctions Declaration</a></td>
  </tr>

  <tr>
    <th colspan="4">Customer Documents: Company Constitution Documents</th>
  </tr>

  <tr>
    <td>Certificate of Incorporation, Certificate of Incumbency, Certificate of Good Standing, etc.</td>
    <td>Mandatory</td>
    <td>Required</td>
    <td>Client's Documents>
  </tr>

  <tr>
    <td>Register of Shares, Register of Members, Share Certificate etc.</td>
    <td>Mandatory</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\Mizuho Global e-Banking\Mizuho Global e-Banking Documents - for onboarding customers\Form XV-1 Appendix B (1) Fee Schedule for Mizuho Global e-Banking [Template] (v006-180915).doc" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Form XV-1 Appendix B (1) Fee Schedule for Mizuho Global e-Banking</a></td>
  </tr>

  <tr>
    <td>Notification of Account & Counterparty</td>
    <td>Where Applicable</td>
    <td>Required</td>
    <td><a href="\\Fs04\branch\LBA_Legal\Mizuho Global e-Banking\Mizuho Global e-Banking Documents - for onboarding customers\Form XV-1 Appendix C Notification of Account & Counterparty (v006-201014)[Template].doc" tabindex="200" title="Opens a PDF file in a new browser window" rel="newWindow">Notification of Account & Counterparty</a></td>
  </tr>
</table>


      {% endblock %}
  </body>
</html>
